body{
    background-color: #1F2937;
    color: #fff;
    padding: 15px 100px;
}
.header{
    flex: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
#container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
}
button{
    flex: auto;
    border: none;
    cursor: pointer;
    background-color: #1F2937;
    transition: transform 0.3s;
    padding: 0;
}

button:hover{
    transform: translateY(-10px);
}

button:active{
    transform: translateZ(10px);
}

img{
    flex:auto;
    max-width: 200px;
}

.resultado{
    display: flex;
    justify-content: center;
    align-content: center;
}

table{
    font-size: x-large;
    display: flex;
    justify-content: center;
}
tr{
    display: flex;
    justify-content: center;
}

.seccion1{
    display: flex;
    flex-direction: column;
    align-content: center; 
}

.final{
    display: flex;
    flex-direction: columns;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

.reset{
    cursor: pointer;
    background-color: #3882f6;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    border:none;
    border-radius: 12px;
    padding: 5px 30px;
}

.reset:active{
    background-color: #1F2937;
    color:#fff;
}

.resultado{
    font-size: x-large;
    font-weight: bold;
}